* {
    margin: 0;
    padding: 0;
}

:root {
    --theme-color: #de2a1b;
    --theme-family: 'Rubik', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--theme-color);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

a:hover,
a:focus,
button:focus,
.btn:focus,
input:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

h2.big_title {
    font-size: 4.5rem;
}

.popover-header {
    font-size: 13px;
    background: #fae4ec;
    border-color: #efd3dd;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.popover-body {
    font-size: 12px;
    text-align: center;
}

.text-theme2 {
    color: var(--theme-color);
}

.list-unstyled {
    margin: 0;
    list-style: none;
}

.list-unstyled.inline>li {
    display: inline-block;
}

.btn.theme-btn {
    position: relative;
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--theme-family);
    padding: 6px 24px;
    border-radius: 5px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    z-index: 1;
}

.btn.theme-btn:hover {
    background: none;
    color: var(--theme-color);
}

.btn.theme-btn i {
    font-weight: normal;
}

.btn.theme-btn.btn2 {
    background: #fff7f6;
    color: var(--theme-color);
}

.btn.theme-btn.btn2:hover {
    background: var(--theme-color);
    color: #ffffff;
}

.btn.cancel-btn {
    position: relative;
    background: #f7f7f7;
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--theme-family);
    padding: 6px 24px;
    border-radius: 5px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    z-index: 1;
}

.btn.theme-btn.btn2.whatsapp-btn {
    border-color: #30b517;
    color: #30b517;
}

.btn.readMore {
    background: #fff7f6;
    border: 2px solid var(--theme-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-color);
    display: inline-flex;
    align-items: center;
}

.btn.readMore:hover {
    background: var(--theme-color);
    color: #fff;
}

.btn.readMore .fa.fa-angle-right {
    font-size: 1.2em;
}

.section-padding {
    padding: 65px 0;
}

.heading {
    margin-bottom: 40px;
}

span.subTitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--theme-color);
    margin-bottom: 10px;
    display: block;
}

.heading h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
}

.heading p {
    color: #675c5c;
    font-size: 16px;
    max-width: 680px;
    width: 100%;
    margin-top: 22px;
}

.heading.text-center p {
    margin-left: auto;
    margin-right: auto;
}

.dropdownBox {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    top: 100%;
    width: 280px !important;
    border-radius: 4px;
    display: none;
    z-index: 9;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .10);
}

.dark-bg {
    background: #110b44;
}

.light-bg {
    background: #f7f7f7;
}

.light-bg1 {
    background: #fce9e8;
}

.light-bg2 {
    background: #eaeafb;
    background: #f5fafe;
}

.text-white,
.text-white p,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white .heading h5,
.text-white .heading h2,
.text-white .heading p,
.dark-bg .heading h2 {
    color: #ffffff;
}

.text-white .heading p,
.text-white p {
    opacity: 0.8;
}

a.whatsapp_chat {
    position: fixed;
    background: #0ccd50;
    border-radius: 50%;
    color: #ffffff;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

a.whatsapp_chat::before {
    position: absolute;
    background: #0ccd50;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.2;
    animation: circle-bounce 2.3s infinite ease-in-out;
}

@keyframes circle-bounce {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1.2);
    }
}

a.whatsapp_chat i {
    animation: shake 4s infinite ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(0, 0)
    }

    1.78571% {
        transform: translate(4px, 0)
    }

    3.57143% {
        transform: translate(-4px, 0)
    }

    5.35714% {
        transform: translate(4px, 0)
    }

    7.14286% {
        transform: translate(-4px, 0)
    }

    8.92857% {
        transform: translate(4px, 0)
    }

    10.71429% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}

.owl-nav button {
    background: #000000 !important;
    border: none !important;
    position: absolute;
    color: #fff !important;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    top: 50%;
    font-size: 18px !important;
    line-height: 60px;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-nav .owl-prev {
    left: -50px;
}

.owl-nav .owl-next {
    right: -50px;
}

.owl-nav button.disabled {
    opacity: 0.44;
}

.topbar {
    background: var(--theme-color);
    padding: 6px 0;
}

.topbar .callUs {
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
}

header#header .callBtn {
    color: #de2a1b;
    font-weight: 500;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
    padding: 2px 10px;
}

.social_links {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 20px;
}

.social_links a {
    font-size: 18px;
    color: #fff;
    padding: 0 8px;
    margin: 0 4px;
}

#header {
    position: relative;
    background: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
}

#header.fixed {
    padding-top: 60px;
}

header#header.fixed .navbarMenu {
    position: fixed;
    background: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 1px 3px rgba(36, 39, 44, .15);
}

.navbar_inner {
    position: relative;
    display: flex;
    align-items: center;
}

a.navbar-brand {
    margin: -40px 0 0;
    padding: 6px;
    transition: all 0s;
}

#header .navbar-brand img {
    width: auto;
}

#header.fixed .navbar-brand {
    margin: 0;
}

#header.fixed .navbar-brand img {
    height: 58px;
}

.site_logo .searchBtn {
    font-size: 24px;
    padding: 6px 12px;
    margin-left: 15px;
}

nav#nav {
    margin-left: auto;
}

ul.main_menu {
    display: flex;
    align-items: center;
}

li.nav-item.nav_right {
    margin-left: auto;
}

li.dropdown_item {
    position: relative;
}

li.mega_dropdown {
    position: static;
}

.navbarMenu ul.main_menu>li>a {
    color: #000000;
    padding: 24px 14px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbarMenu ul.main_menu>li:hover>a,
.navbarMenu ul.main_menu>li.active>a {
    background: none;
    color: var(--theme-color);
}

.navbarMenu ul.main_menu>li>a.searchBtn {
    color: var(--theme-color);
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}

li.dropdown_item>ul.dropdown-menu {
    background: #ffffff;
    width: 295px;
    padding: 16px;
    border: none;
    border-radius: 0;
    margin: 0;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

li.dropdown_item:not(.mega_dropdown)>ul.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: #cccccc #ffffff;
}

li.dropdown_item:not(.mega_dropdown)>ul.dropdown-menu::-webkit-scrollbar {
    width: 12px;
}

li.dropdown_item:not(.mega_dropdown)>ul.dropdown-menu::-webkit-scrollbar-track {
    background: #ffffff;
}

li.dropdown_item:not(.mega_dropdown)>ul.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
    border: 4px solid #ffffff;
}

li.dropdown_item.nav-item:hover>.dropdown-menu {
    display: block;
}

li.mega_dropdown.dropdown_item>ul.dropdown-menu {
    width: 100%;
}

li.dropdown_item ul.subMenu_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.dropdown_item ul.subMenu_list.column3 {
    column-count: 3;
}

li.dropdown_item ul.content_list {
    list-style: none;
    padding: 0 15px;
    margin: 0;
    column-count: 3;
}

li.dropdown_item ul.content_list.column4 {
    column-count: 4;
}

li.dropdown_item ul.content_list.column5 {
    column-count: 5;
}

.dropdoen_listArea li {
    font-size: 15px;
    padding: 4px 10px;
    border-left: 4px solid #f7f7f7;
}

.dropdoen_listArea li.active {
    background: #f7f7f7;
    border-color: var(--theme-color);
    font-weight: 500;
}

ul.dropdown-menu li.dropdown_item {
    position: static;
}

li.dropdown_item>ul.dropdown-menu>li.dropdown_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

li.iconList.dropdown_item>ul.dropdown-menu>li.dropdown_inner {
    max-width: 1680px;
    display: flex;
    flex-wrap: wrap;
}

.navbarMenu .dropdown_item li.nav-item a {
    font-size: 14px;
    color: #000000;
    padding: 3px 10px;
    margin: 1px 0;
    display: inline-block;
}

.navbarMenu .dropdown_item li.nav-item a:hover {
    color: var(--theme-color);
}

ul.dropdoen_listArea {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow: auto;
    min-width: 250px;
    padding: 0 15px;
}

.navbarMenu .dropdown_item ul.dropdoen_listArea li a {
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 12px;
    display: block;
}

.navbarMenu .dropdown_item ul.dropdoen_listArea li a.active,
.navbarMenu .dropdown_item ul.dropdoen_listArea li a:hover {
    color: var(--theme-color);
}

ul.dropdoen_listArea>li.dropdown_item>a::before {
    position: absolute;
    content: "\f105";
    top: 50%;
    right: 8px;
    font-size: 20px;
    font-family: 'FontAwesome';
    opacity: 0.6;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.dropdoen_listArea>li:hover>a::before {
    opacity: 1;
}

.dropdoen_contentArea {
    width: calc(100% - 280px);
    padding: 6px 6px 6px 40px;
}

.dropdoen_contentArea .list_menu {
    list-style: none;
    margin: 0;
}

.dropdoen_contentArea li.title {
    font-weight: 500;
    font-size: 14px;
}

.dropdoen_contentArea li a {
    padding: 4px 0;
    font-size: 13px;
    color: #666;
}

.dropdoen_contentArea .content_list {
    display: none;
}

/*
===========================  Home page css
*/

.homeBanner {
    padding-top: 20px;
}

.homeBanner .imgBox img {
    max-width: 360px;
    width: 100%;
}

.homeBanner h1 {
    font-size: 48px;
    font-weight: 600;
}

.homeBanner p {
    font-size: 18px;
}

.homeBanner h1 span,
.search_modalForm h2 span {
    color: var(--theme-color);
}

.homeBanner .info,
.search_modalForm .info {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    letter-spacing: 1px;
}

ul.searchTab {
    width: 100%;
    padding: 0;
    margin: 40px auto 10px;
    border: none;
}

ul.searchTab li {
    display: inline-block;
}

ul.searchTab a.nav-link {
    background: #ffffff;
    border: none;
    color: #000000;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 8px;
}

ul.searchTab a.nav-link.active {
    background: var(--theme-color);
    color: #ffffff;
}

.homeBanner .searchBar,
.search_modalForm .searchBar {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: auto;
    background: #fff;
}

.searchForm {
    position: relative;
    padding: 10px 5px;
}

.homeBanner .searchForm .form-control,
.search_modalForm .searchForm .form-control {
    height: 36px !important;
    border: none;
    font-size: 14px;
    color: #848484;
    border-radius: 0;
    float: left;
    width: 45%;
}

.homeBanner #searchUnivercity .searchForm .form-control {
    width: 87%;
}

#searchUnivercity2 .searchForm .form-control {
    width: 87%;
}

.innerSlide .searchBar .selectYear,
.search_modalForm .searchBar .selectYear {
    width: 100%;
}

.homeBanner .form-control::placeholder {
    color: #848484;
}

.homeBanner select,
.search_modalForm select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.homeBanner select.selectCountry,
.search_modalForm select.selectCountry {
    border-left: 1px solid #dfdfdf;
    width: 55%;
}

.homeBanner input.searchInput,
.search_modalForm input.searchInput {
    width: 100%;
}

.homeBanner .form-control:focus,
.search_modalForm .form-control:focus {
    box-shadow: none !important;
    outline: none;
}

.homeBanner .searchBar span.custom-combobox input {
    width: 100%;
    background: none;
    border: none;
}

.homeBanner .searchBar span.custom-combobox {
    display: block;
}

.homeBanner .searchBar span.custom-combobox a.ui-button {
    background: none;
    border-width: 0 0 0 1px;
    border-color: #dfdfdf;
    padding: 0 20px;
    position: absolute;
    right: 54px;
}

.ui-menu.ui-widget.ui-widget-content {
    height: 350px;
    overflow-y: auto;
}

.homeBanner .btn.searchBtn,
.innerSlide .btn.searchBtn,
.search_modalForm .btn.searchBtn {
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    height: 56px;
    top: 0;
    right: 6px;
    color: var(--theme-color);
    font-size: 18px;
    line-height: 56px;
    padding: 0;
}

/* liveEvent */
.eventBox{
    position: relative;
}
.eventBox img{
    height: auto;
    border: 2px;
    border-radius:20px;
}

.eventBox .textBox {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}
.eventBox .textBox h3 {
    font-size: 26px;
    color: #ffffff;
    font-weight: 400;
}
.eventBox .textBox a{
    text-decoration: none;
}

/* recommend_collage */
.recommend_collage .tup_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    border: none;
}

.recommend_collage .tup_menu a {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent;
    padding: 4px 0;
    margin: 0 21px;
    cursor: pointer;
}

.recommend_collage .tup_menu a.active {
    color: var(--theme-color);
    border-color: var(--theme-color);
}

.collageList.row>div {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.collageList .itemBox {
    background: #ffffff;
    border: 1px solid #f8ecec;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 8px 25px -6px rgb(0 0 0 / 10%);
}

.collageList .itemBox .imgBox {
    position: relative;
    padding-bottom: 88%;
}

.collageList .itemBox .imgBox img {
    position: absolute;
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.collageList .itemBox .universityName {
    position: absolute;
    background: var(--theme-color);
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    top: 16px;
    left: -10px;
    padding: 6px 16px;
    width: 100%;
    max-width: 200px;
}

.collageList .itemBox .universityName::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    border-right: 10px solid #7b0c03;
    border-bottom: 8px solid transparent;
}

.collageList .itemBox h3 {
    font-size: 16px;
    line-height: 1.3;
    min-height: 15px;
}

.collageList .itemBox .content {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.collageList .itemBox .meta {
    display: flex;
    flex-wrap: wrap;
}

.collageList .itemBox .meta .label {
    font-size: 13px;
    width: 46%;
    margin-bottom: 5px;
}

.collageList .itemBox .meta .label:not(:last-child) {
    margin-right: 15px;
}

/*.collageList .itemBox .meta .country, .collageList .itemBox .meta .duration {*/

/*    width: 50%;*/

/*}*/

.collageList .itemBox .meta .label i {
    width: 15px;
    text-align: center;
    color: #136782;
    margin-right: 2px !important;
}

.collageList .itemBox .meta .label.country i {
    color: var(--theme-color);
}

.collageList .itemBox .meta .label.duration i {
    color: #dec71b;
}

.collageList .itemBox .btnBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 0 10px 10px;
}

.collageList .itemBox .btnBox .btn {
    font-size: 13px;
    padding: 5px 8px;
}

.countryList {
    margin-right: -15px;
}

.countryList .item {
    background: #110b44;
    border-radius: 16px;
    padding: 20px;
    width: calc(20% - 15px);
    margin-right: 15px;
    text-align: center;
}

.countryList.row .item {
    width: 100%;
    margin-bottom: 30px;
}

.countryList .item img {
    max-width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #efe0d1;
    padding: 5px;
}

.countryList .item h3 {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 0;
}




/* footer styling */
#footer {
    background: #110b44;
    color: #c1c1c1;
    padding: 60px 0 0;
}

#footer h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

#footer h4 {
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
}

#footer p {
    color: #c1c1c1;
}

ul.mbbs_menu {
    column-count: 2;
}

#footer .contact-info a {
    display: block;
    margin-bottom: 6px;
    color: #c1c1c1;
}

#footer .contact-info a i {
    margin-right: 4px;
    color: var(--theme-color);
}

#footer .socialLinks a {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.08);
    width: 34px;
    height: 34px;
    font-size: 15px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin: 8px 5px 0 0;
    color: #c1c1c1;
}

#footer .footer-menu li {
    margin-bottom: 5px;
}

#footer .footer-menu li a {
    font-size: 14px;
    color: #c1c1c1;
}

.footer .startJourney {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    padding: 25px 0;
    margin: 45px auto;
    border-radius: 6px;
}

.footer .startJourney .icon {
    max-width: 80px;
}

.footer .startJourney .content {
    width: 100%;
}

.footer .startJourney h2 {
    font-size: 20px;
}

.footer .startJourney p {
    font-size: 13px;
    margin: 0px;
}