
<footer id="footer" class="footer dark-bg mt-1">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-2 col-md-8">
                    <div class="box">
                        <h3>Top Courses</h3>
                        <ul class="footer-menu list-unstyled">
                            <li class="nav-item"><a href="https://www.getmyuniversity.com/md-colleges">MD in India</a></li>
                            <li class="nav-item"><a href="https://www.getmyuniversity.com/ms-colleges">MS in India</a></li>
                            <li class="nav-item"><a href="https://www.getmyuniversity.com/dm-colleges">DM in India</a></li>
                            <li class="nav-item"><a href="https://www.getmyuniversity.com/mch-colleges">MCH in India</a></li>
                            <li class="nav-item"><a href="https://www.getmyuniversity.com/dip-colleges">DIP in India</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8">
                    <div class="box">
                        <h3>Top States</h3>
                        <ul class="footer-menu mbbs_menu list-unstyled">
                            <li class="nav-item"><a href="/medical-colleges-in-karnataka">Karnataka</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-kerala">Kerala</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-uttar-pradesh">Uttar Pradesh</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-rajasthan">Rajasthan</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-west-bengal">West Bengal</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-pondicherry">Pondicherry</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-maharashtra">Maharashtra</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-uttarakhand">Uttarakhand</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-chandigarh">Chandigarh</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-bihar">Bihar</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-delhi">Delhi</a></li>
                            <li class="nav-item"><a href="/medical-colleges-in-gujarat">Gujarat</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mt-5 mt-md-0">
                    <div class="box">
                        <h3>Legal</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="https://www.getmyuniversity.com/about-us">About Us</a></li>
                            <li><a href="https://www.getmyuniversity.com/blog">Blog</a></li>
                            <li><a href="https://www.getmyuniversity.com/contact-us">Contact Us</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <div class="box">
                        <h3>Office Location</h3>
                        <div class="contactInfo box">
                            <h4>Delhi</h4>
                            <p class="text">Office Number 209 C, Crown Height, <br>Sector 10, Rohini, Delhi, 110085</p>
                            <h4>Bangalore</h4>
                            <p class="text">Office No. 135, Evoma, Prestige Featherlite Tech Park<br>EPIP Zone, Whitefield, Bangalore, 560066</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="connect_wraper mt-5">
            <div class="row text-center text-md-left">
                <div class="col-lg-4">
                    <div class="box">
                        <h3>Follow Us on</h3>
                        <div class="socialLinks mt-3">
                            <a href="https://www.facebook.com/getmyuniversity"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/get_my_university/"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/getmyuniversity"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/@GetMyUniversity"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-5 mt-lg-0">
                    <div class="box">
                        <h3>Need Help?</h3>
                        <div class="contact-info d-md-flex align-items-center justify-content-between">
                            <a href="https://wa.me/917678676001" target="_blank"><i class="fa fa-whatsapp"></i>+91 76-786-76-001</a>
                            <a href="tel:+917678676001"><i class="fa fa-phone"></i>  +91 7678 676 001</a>
                            <a href="mailto:info@getmyuniversity.com"><i class="fa fa-envelope"></i> info@getmyuniversity.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright text-center text-md-left">
            <p class="m-0">Copyright©️GMU ADMISSION SERVICES PRIVATE LIMITED. All rights reserved</p>
        </div>
    </div>

</footer>