<section class="liveEvent section-padding pb-4">
    <div class="container">
        <div class="heading">
            <h2>GMU Admission Counselling</h2>
        </div>
        <div class="eventList_wrapper">
            <div class="row eventList">
                <div class="col">
                    <div class="eventBox">
                        <div class="imgBox">
                            <a href=""><img class="img-fluid" src="/static/images/event-img1.jpg" alt="mbbs" /></a>
                        </div>
                        <div class="textBox">
                            <a href="https://www.getmyuniversity.com/mbbs-colleges">
                                <h3>MBBS <br>India</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="eventBox">
                        <div class="imgBox">
                            <a href=""><img class="img-fluid" src="/static/images/event-img2.jpg" alt="md" /></a>
                        </div>
                        <div class="textBox">
                            <a href="https://www.getmyuniversity.com/md-colleges">
                                <h3>MD <br>India</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="eventBox">
                        <div class="imgBox">
                            <a href=""><img class="img-fluid" src="/static/images/event-img3.jpg" alt="" /></a>
                        </div>
                        <div class="textBox">
                            <a href="https://www.getmyuniversity.com/ms-colleges">
                                <h3>MS <br>India</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="eventBox">
                        <div class="imgBox">
                            <a href=""><img class="img-fluid" src="/static/images/event-img4.jpg" alt="" /></a>
                        </div>
                        <div class="textBox">
                            <a href="https://www.getmyuniversity.com/dm-colleges">
                                <h3>DM <br>India</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="eventBox">
                        <div class="imgBox">
                            <a href=""><img class="img-fluid" src="/static/images/event-img5.jpg" alt="" /></a>
                        </div>
                        <div class="textBox">
                            <a href="https://www.getmyuniversity.com/mch-colleges">
                                <h3>MCH<br>India</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="recommend_collage section-padding">
    <div class="container">
        <div class="heading text-center">
            <h2>Top Recommended Colleges</h2>
        </div>

        <div class="tup_menu nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" data-toggle="tab" data-target="#tpUtabs1" role="tab">MBBS Karnataka</a>
            <a class="nav-link" data-toggle="tab" data-target="#tpUtabs2" role="tab">MBBS Kerala</a>
            <a class="nav-link" data-toggle="tab" data-target="#tpUtabs3" role="tab">MBBS Uttar Pradesh</a>
            <a class="nav-link" data-toggle="tab" data-target="#tpUtabs4" role="tab">MBBS Rajasthan</a>
            <a class="nav-link" data-toggle="tab" data-target="#tpUtabs5" role="tab">MBBS West Bengal</a>
        </div>

        <div class="tab-content">
            <div class="column tab-pane fade show active" id="tpUtabs1">
                <div class="viewAll_btn text-right pb-1"><a href="https://www.getmyuniversity.com/medical-colleges-in-karnataka" class="btn readMore">View All</a></div>
                <div class="collageList row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Vydehi Institute Of Medical Sciences & Research Centre Bangalore.jpg-94632.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Vydehi Institute Of Medical Sciences & Research Centre Bangalore</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Bangalore</div>
                                    <div class="label duration text-right"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/vydehi-institute-of-medical-sciences-research-centre-bangalore" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/St. Johns Medical College Bangalore.jpg-30510.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">St. Johns Medical College Bangalore</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DIP, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Bangalore</div>
                                    <div class="label duration text-right"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/st-johns-medical-college-bangalore" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/M S Ramaiah Medical College Bangalore.jpg-62938.jpg" onerror="this.src='/static/images/logo.png';"></a>
                                <div class="universityName">M S Ramaiah Medical College Bangalore</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Bangalore</div>
                                    <div class="label duration text-right"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/m-s-ramaiah-medical-college-bangalore" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Dr BR Ambedkar Medical College Bangalore.jpg-60105.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Dr BR Ambedkar Medical College Bangalore</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Bangalore</div>
                                    <div class="label duration text-right"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/dr-br-ambedkar-medical-college-bangalore" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column tab-pane fade" id="tpUtabs2">
                <div class="viewAll_btn text-right pb-1"><a href="https://www.getmyuniversity.com/medical-colleges-in-kerala" class="btn readMore">View All</a></div>
                <div class="collageList row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Pushpagiri Institute Of Medical Sciences and Research Centre Tiruvalla.jpg-27149.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Pushpagiri Institute Of Medical Sciences and Research Centre Tiruvalla</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Thiruvalla</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/pushpagiri-institute-of-medical-sciences-and-research-centre-tiruvalla" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Jubilee Mission Medical College & Research Institute Thrissur.jpg-28268.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Jubilee Mission Medical College & Research Institute Thrissur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Thrisur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/jubilee-mission-medical-college-research-institute-thrissur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Believers Church Medical College Hospital Thiruvalla Kerala.jpg-93872.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Believers Church Medical College Hospital Thiruvalla Kerala</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Thiruvalla</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/believers-church-medical-college-hospital-thiruvalla-kerala" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Amala Institute of Medical Sciences Thrissur.jpg-36744.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Amala Institute of Medical Sciences Thrissur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Thrisur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/amala-institute-of-medical-sciences-thrissur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column tab-pane fade" id="tpUtabs3">
                <div class="viewAll_btn text-right pb-1"><a href="https://www.getmyuniversity.com/medical-colleges-in-uttar-pradesh" class="btn readMore">View All</a></div>
                <div class="collageList row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/School of Medical Sciences and Research Sharda University.jpg-63768.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">School of Medical Sciences and Research Sharda University</div>
                            </div>
                            <div class="content">
                                <h3>MBBS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Greater Noida</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/school-of-medical-sciences-and-research-sharda-university" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/United Institute of Medical Sciences Allahabad.jpg-63867.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">United Institute of Medical Sciences Allahabad</div>
                            </div>
                            <div class="content">
                                <h3>MBBS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Allahabad</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/united-institute-of-medical-sciences-allahabad" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Shri Ram Murti Smarak Institute of Medical Sciences Bareilly.jpg-98115.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Shri Ram Murti Smarak Institute of Medical Sciences Bareilly</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Bareily</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/shri-ram-murti-smarak-institute-of-medical-sciences-bareilly" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Rohilkhand Medical College & Hospital Bareilly.jpg-21683.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Rohilkhand Medical College & Hospital Bareilly</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Bareily</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/rohilkhand-medical-college-hospital-bareilly" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column tab-pane fade" id="tpUtabs4">
                <div class="viewAll_btn text-right pb-1"><a href="https://www.getmyuniversity.com/medical-colleges-in-rajasthan" class="btn readMore">View All</a></div>
                <div class="collageList row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Pacific Medical College & Hospital Bhilo Ka Bedla Udaipur.jpg-80509.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Pacific Medical College & Hospital Bhilo Ka Bedla Udaipur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Udaipur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/pacific-medical-college-hospital-bhilo-ka-bedla-udaipur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/National Institute of Medical Science & Research Jaipur.jpg-55861.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">National Institute of Medical Science & Research Jaipur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Jaipur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/national-institute-of-medical-science-research-jaipur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Geetanjali Medical College & Hospital Udaipur.jpg-28237.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Geetanjali Medical College & Hospital Udaipur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, DM, MCH, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Udaipur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/geetanjali-medical-college-hospital-udaipur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column tab-pane fade" id="tpUtabs5">
                <div class="viewAll_btn text-right pb-1"><a href="https://www.getmyuniversity.com/medical-colleges-in-west-bengal" class="btn readMore">View All</a></div>
                <div class="collageList row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Shri Ramkrishna Institute of Medical Sciences & Sanaka Hospitals Durgapur.jpg-21979.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Shri Ramkrishna Institute of Medical Sciences & Sanaka Hospitals Durgapur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Durgapur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/shri-ramkrishna-institute-of-medical-sciences-sanaka-hospitals-durgapur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/KPC Medical CollegeJadavpur Jadavpur.jpg-85882.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">KPC Medical College Jadavpur</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Jadavpur</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/kpc-medical-collegejadavpur-jadavpur" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/Jagannath Gupta Institute of Medical Sciences & Hospital Kolkata.jpg-59252.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">Jagannath Gupta Institute of Medical Sciences & Hospital Kolkata</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Kolkata</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/jagannath-gupta-institute-of-medical-sciences-hospital-kolkata" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="itemBox">
                            <div class="imgBox">
                                <img src="/static/images/university_images/IQ-City Medical College Burdwan Kolkata.jpg-66466.jpg" onerror="this.src='/static/images/logo/logo.jpg';"></a>
                                <div class="universityName">IQ-City Medical College Burdwan Kolkata</div>
                            </div>
                            <div class="content">
                                <h3>MBBS, MD, MS</h3>
                                <div class="meta">
                                    <div class="label country"><i class="fa fa-map-marker mr-2"></i>Kolkata</div>
                                    <div class="label duration"><i class="fa fa-clock-o mr-2"></i>Private</div>
                                    <!-- <div class="label"><i class="fa fa-calendar mr-2"></i>Student support team</div> -->
                                </div>
                            </div>
                            <div class="btnBox">
                                <a href="https://www.getmyuniversity.com/university/iq-city-medical-college-burdwan-kolkata" class="btn theme-btn btn2"></i>View Details</a>
                                <a href="#showform" class="btn theme-btn">Enquire Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>